# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache
*.sql
*.zip

# OS or Editor folders
.DS_Store
.cache
.project
.settings
.tmproj
.idea
nbproject
Thumbs.db

# Dreamweaver added files
_notes
dwsync.xml

# Komodo
*.komodoproject
.komodotools

# Folders to ignore
.hg
.svn
.CVS
intermediate
publish
*.php_cs.cache

/vendor
/composer.lock
/app
/public
